.signInPage {
  max-width: 370px;
  text-align: center;
  margin: 110px auto;
}
.signInTitle {
  font-size: 46px;
}
.signInButton {
  background-color: black;
  border-radius: 17px;
  padding: 24px 32px;
  width: 50%;
  font-size: 15px;
  cursor: pointer;
  color: white;
  font-family: "Poppins";
  border-color: black;
}
