@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.loading {
  position: fixed;
  font-size: 47px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 360px;
}
.marketTitle {
  padding-bottom: 50px;
  margin: 2em 0;
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
}
.divider {
  margin-top: 20px;
  margin-bottom: 48px;
  border: 0;
  border-top: 1px solid #eee;
  width: 100%;
}
