.claimPageContainer {
  border: 5.5px solid rgb(0, 0, 0);
  height: 60vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 3%;
  
}


.claimTitle {
  font-weight: bold;
  font-size: 3rem;
}

.account{
  margin-top: 3%;
  font-size: 1.6rem;
}

.amount{
  margin-top: 2%;
  font-size: 2rem;
  margin-bottom: 2%;
}

.claim{
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 3%;
}

.image{
  width: 100.3%;
  height: 100.3%;
  background: url('background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 95%
}