* {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.mainset {
  margin: auto;
  max-width: 850px;
}

.maintitle {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 67px;
  margin-bottom: 45px;
}

.imagebox {
  display: flex;
  justify-content: center;
}

.middleline {
  width: 50px;
  border-right: 2px solid rgb(229, 232, 235);
  box-sizing: content-box;
}
.contentbox {
  margin-left: 50px;
}

.imageset {
  border-radius: 15px;
  width: 350px;
  height: 257px;
}

.content_start {
  margin-bottom: 4px;
}

.content_start.addoption2 {
  font-size: 0.8rem;
  line-height: 3px;
  margin-bottom: 11px;
  color: rgb(53, 56, 64);
}

.content_start.addoption {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.input_name {
  border: 1px solid rgb(229, 232, 235);
  height: 30px;
  border-radius: 7px;
  width: 350px;
  margin-bottom: 15px;
}

.input_name.addoption {
  border: 1px solid rgb(229, 232, 235);
  height: 65px;
  border-radius: 7px;
  width: 350px;
  margin-bottom: 15px;
  resize: vertical;
}

.input_name:focus-within {
  color: inherit;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  z-index: 1;
}

.content_trait {
  font-size: 0.8rem;
  color: rgb(53, 56, 64);
  margin-bottom: 1px;
}
.trait_button {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
  display: fe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 4px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

.content_under {
  font-size: 0.7rem;
  color: rgb(53, 56, 64);
}

#dropdown-basic-button2 {
  text-align: left;
  padding-left: 0px;
  border: 1px solid rgb(229, 232, 235) !important;
  width: 350px;
  height: 30px;
  position: relative;
  background-color: white;
  border-radius: 7px;
  padding-left: 5px;
}
button#dropdown-basic-button2.dropdown-toggle.btn.btn-primary::after {
  position: absolute;
  right: 8px;
  top: 12px;
}

#blockchain_set {
  width: 350px;
  height: 30px;
  padding: 0.25rem 0.4rem;
  border-radius: 7px;
}

#root > div.mainset > div.imagebox > div.contentbox > div > div.show.dropdown > div {
  height: 30px;
  padding: 0 0 !important;
  font-size: 0.8rem;
  border-radius: 7px;
  width: 350px;
}

.content_name {
  border-bottom: 1px solid rgb(229, 232, 235);
  padding-bottom: 16px;
}

#root > div.mainset > div.imagebox > div.contentbox > button {
  margin: 35px 0 0 0;
}

.warning {
  color: red;
}

.ant-btn.sell_button.addoption2 {
  margin-bottom: 11px;
}
