.trait1 {
  width: 50%;
  margin-right: 4px;
  border: 1px solid lightgray;
  box-sizing: content-box;
  border-radius: 3px;
}

.trait2 {
  border: 1px solid lightgray;
  width: 50%;
  border-radius: 3px;
}

.trait1:focus-within {
  color: inherit;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  z-index: 1;
}

.trait2:focus-within {
  color: inherit;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  z-index: 1;
}

.type_f {
  margin-right: 8.4rem;
  font-size: 0.8rem;
}

.name_f {
  font-size: 0.8rem;
}

#root
  > div.mainset
  > div.imagebox
  > div.contentbox
  > div
  > div.content_start.addoption
  > div.sc-kDTinF.ixZaki
  > button {
  font-weight: normal;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(32, 129, 226);
  color: rgb(32, 129, 226);
  margin-bottom: 11px;
}

#root
  > div.mainset
  > div.imagebox
  > div.contentbox
  > div
  > div.content_start.addoption
  > div.sc-kDTinF.ixZaki
  > button:focus-within {
  color: inherit;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  z-index: 1;
}
