.searchedItemsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.searchedItemsContainer .wrongResult {
  align-items: center;
  display: flex;
}

.wrongResult {
  color: black;
  font-size: 30px;
}
.searchedMarket_image {
  height: 330px;
}

.market_image_2 {
  width: 100%;
  object-fit: contain;
}
