.main {
  width: 100%;
  height: 170px;
  background-color: rgb(229, 232, 235);
  position: relative;
}

.main_myimage_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: -25%;
}

.main_myimage {
  width: 7%;
  height: 7%;
  border: 6px white solid;
  border-radius: 50em;
  box-sizing: content-box;
}

.middle {
  margin-top: 50px;
  text-align: center;
  border-bottom: 2px solid rgb(229, 232, 235);
}

.address_box {
  line-height: 1.1rem;
}

.createdAt {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.cardGroup.card-group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 50px 50px;
  justify-content: center;
}
.card.card {
  width: 20%;
  margin: 0 20px 30px 20px;
  border-radius: 15px;
  border: 0.5px solid rgb(229, 232, 235);
  position: relative;
  height: 24rem;
}

.card_addoption {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.card-img-top.card_img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card_body.card-body {
  padding: 0 10px;
  border-bottom: 1.5px solid rgb(229, 232, 235);
}
.card_title.card-title {
  font-size: 0.8rem;
  color: rgb(158, 158, 158);
}

.card_text.card-text {
  margin: 0 0;
}

.card_footer.card-footer {
  padding: 0 10px;
}

.sell_button {
  width: 237px;
  font-weight: bold;
  height: 30px;
  margin: 5px auto;
  display: block;
  border-color: #ffc107;
  color: #ffc107;
  background-color: transparent;
  text-align: center;
  transition: background-color 0.15s;
  border-radius: 11px;
  cursor: pointer;
}

.sell_button.addoption2 {
  margin: 10px auto;
}

.sell_button:hover {
  background-color: #ffc107;
  color: black;
}

.button_link {
  text-decoration: none;
  cursor: pointer;
}

.loading {
  position: fixed;
  font-size: 47px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 360px;
}

.noItem_box {
  margin: 40px;
  border: 2px solid rgb(229, 232, 235);
  border-radius: 5px;
}

.noItem {
  margin: auto;
  display: block;
  width: 758px;
  margin-top: 50px;
}
